.jumbotron {
	background-image: url("img1.jpg");
	background-repeat: repeat-x;
	color: white;
}

.page-header {
color: white;
}


p {
	margin-left: 80px;
	font-
}
.kaalikas {
	margin-top: 0px;
	background-color: rgb(240, 240, 240);
	background-repeat: repeat-x; 
	padding:40px 0 0 80px;
	margin-top: 0px; 
}

#form_container
{
	padding:15px 15px;
	margin-top:15px;
	background: rgba(255,255,255,0.75);	
}
body
{
	background-color: #F4EAD5;
	background-image: url("images/window-484596_1280.jpg");
	background-size: cover;
}

